.body{
    /* La sintaxis vieja, obsoleta, pero todavía necesaria, con prefijo, para Opera y navegadores basados en WebKit-based */
background: -prefix-linear-gradient(top, #ff6b00, white);

/* La nueva sintaxis necesaria para navegadores apegados al estandar (IE 10 y Firefox 10 en adelante), sin prefijo */
background: linear-gradient(to bottom,#ff6b00, white);

    
}
h1{
    background-color: #f57f17
       
}

nav{

background-color: #f57f17;

}
 
